/* general */

body {
    margin: 0;
    background-color: white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button,
select {
    outline: none;
    cursor: pointer;
}

h1 {
    min-width: 350px;
    max-width: 500px;
    width: 40vw;
    margin: 10px auto;
    text-align: left;
    color: black;
}


/* main div */

#containAll {
    border: 5px solid #FF4800;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    max-width: 500px;
    width: 40vw;
    margin: 10px auto;
    box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.75);
}


/* top bar */

#controlSection {
    background-color: #FF4800;
    padding: 0 10px;
    height: 35px;
    display: flex;
    align-items: center;
}

#textInput {
    background-color: rgba(0, 0, 0, 0);
    flex-grow: 1;
    font-size: 20px;
    color: white;
    border: none;
    outline: none;
}

#textInput::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

#prioritySelector {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: 20px;
}

#addButton {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 20px;
    padding: 0;
}


/* second bar */

#sortAndCountDiv {
    background-color: #FF6000;
    display: flex;
    align-items: center;
    height: 35px;
    padding: 0 10px;
}

#counter {
    margin: 0 5px;
}

#sortButton {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    margin-left: 5px;
    padding: 0;
}

#sortByDateAdded {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    margin-left: 5px;
    padding: 0;
}

#sortBySpan {
    margin-left: auto;
}


/* todos list */

#todoUl {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

#todoUl li {
    height: 35px;
    display: flex;
    padding: 0 10px;
}

#todoUl li:hover {
    visibility: visible;
}

.todoContainer {
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 100%;
}

.todoPriority {
    margin-left: auto;
    margin-right: 20px;
}


/* priority design */

.priority-1 {
    background-color: #FFAA00;
}

.priority-2 {
    background-color: #FF9E00;
}

.priority-3 {
    background-color: #FF9100;
}

.priority-4 {
    background-color: #FF8500;
}

.priority-5 {
    background-color: #FF7900;
}